form {
  margin-bottom: 30px;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

#tweet-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  margin: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-width: thick;
  width: 100%;
  outline: none;
  resize: none;
}

.tweet-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', cursive;
}

label {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding-left: 20px;
}

.negative {
  color: red;
}

article {
  font-family: 'Source Sans Pro', sans-serif;
  border: solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: 30px;
}

article:hover {
  box-shadow: 5px 5px darkgray;

}

input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent; 
  border-width: thick;
  align-items: center;
}

.tweet-header {
  padding-top: 10px;
  /* padding-bottom: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  font-weight: 600;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-icons {
  color: #4056A1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fa-flag:hover {
  color:burlywood;
}

.fa-retweet:hover {
  color:burlywood;
}

.fa-heart:hover {
  color:burlywood;
}

.fas {
  padding-right: 20px;
}

.tweet-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-top: 0;
    padding-left: 20px;
}

.avatarImg {
  width: 20%
}

.error {
  color: red;
  /* border: solid red; */
  display:none;
  /* visibility: hidden; */
  text-align: start;
  width: 50%;
  padding: 10px;
  font-weight: 600;
}
 p {
   width: 100ch;
  /* border: solid;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent; 
  border-width: thick;
  align-items: center;
  padding-top: 50px; */
} 

/* .tweet-button {
  animation: bounce 5s 0s ease-in-out infinite;

}

@keyframes bounce{
  0% {
    top: 0;
  }
} */